<h4>Click one of the buttons and compare the loading experience</h4>

<img src="http://pinpopular.in/images/spinner_192.gif" alt="spinner" />
<br />

<button data-ng-disabled="inProgress"
        data-ng-click="toggleProgress(); useNormal()">
        Do work in main thread (Without workers)
</button>
<button data-ng-disabled="inProgress"
        data-ng-click="toggleProgress(); useWebWorkers()">
        Do work with web workers
</button>
<button data-ng-disabled="inProgress"
        data-ng-click="$parent.numbers = []">
        Clear
</button>

<ul>
  <li data-ng-repeat="number in numbers">
    {{number}}
  </li>
</ul>
